*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    background-color: rgb(11, 14, 30);

}
#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(11, 14, 30);
    position: relative;
    
    /* overflow-y: hidden; */
}
#page1 video{
    position: absolute;
    width: 100vw;
    /* height: 100vh; */
    z-index: -100;
}


#icon-div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
#icon-floating-div-up{
    width: 100%;
    height: 100%;
    position: absolute;

}
#icon-floating-div-down{
    width: 100%;
    height: 100%;
    position: absolute;

}
#page1 #name {
    color: white;
    font-size: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    padding: 0px 60px;
    gap: 35px;
}

#page1 #name p{
    font-size: 35px;
    font-weight: 100;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(11, 14, 30);
    position: relative;

    /* overflow-y: hidden; */
}

#icon-floating-div{
    width: 100%;
    height: 100vh;
}

#page2{
    position: relative;
    height: 140vh;
    z-index: -1;
    margin-top: 300px;
}
#page2 #box{
    height: 120vh;
    width: 120vw;
    transform: rotate(3deg);
    background: rgb(2,0,36);
background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(3,3,43,1) 17%, rgba(7,7,99,1) 30%, rgba(9,9,121,1) 42%, rgba(6,81,168,1) 54%, rgba(1,188,239,1) 75%, rgba(0,212,255,1) 98%);
    position: absolute;
    z-index: 5;
    
}

#page2 #box::before{
    content: "";
    width: 100%;
    height: 120vh;
    position: absolute;
    background: rgb(2,0,36);
background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(3,3,43,1) 17%, rgba(7,7,99,1) 30%, rgba(9,9,121,1) 42%, rgba(6,81,168,1) 54%, rgba(1,188,239,1) 75%, rgba(0,212,255,1) 98%);
    transform: translateX(-50px);
    z-index: -1;
}

#page3{
    position: relative;
    height: 150vh;
}

#page3 #box{
    height: 56vh;
    width: 120vw;
    transform: rotate(-3deg);
    background:#67696E;
    position: absolute;
    z-index: 5;
    
}

#page3 #box::before{
    content: "";
    width: 100%;
    height: 56vh;
    position: absolute;
    background: #67696E;
    transform: translateX(-50px);
    z-index: -1;
}





#icon-div i:nth-child(1){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 10%;
}
#icon-div i:nth-child(2){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 10%;
}
#icon-div i:nth-child(3){
    color: rgb(129, 255, 129);
    font-size: 12rem;
    position: absolute;
    top: 5%;
    right: -10%;
}
#icon-div i:nth-child(4){
    color: rgb(91, 80, 59);
    font-size: 3rem;
    position: absolute;
    top: 5%;
    left: 30%;
}

#icon-div i:nth-child(5){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 12%;
    left: 60%;
}
#icon-div i:nth-child(6){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 45%;
    right: 12%;
}
#icon-div i:nth-child(7){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 15%;
    left: 20%;
}
#icon-div i:nth-child(8){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: -10%;
}
#icon-div i:nth-child(9){
    color: rgba(225, 118, 242, 0.883);
    font-size: 5rem;
    position: absolute;
    bottom:  -19%;
    left: 2%;
}



/* floating */
#icon-floating-div-up i:nth-child(1){
    color: rgb(233, 179, 79);
    font-size: 15rem;
    position: absolute;
    top: 40%;
    left: 10%;
}
#icon-floating-div-up i:nth-child(2){
    color: rgb(136, 134, 134);
    font-size: 4rem;
    position: absolute;
    top: 60%;
    right: 8%;

}
#icon-floating-div-up >i:nth-child(3){
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 80%;
    left: 40%;
}
#icon-floating-div-up i:nth-child(4){
    color: rgb(255, 81, 81);
    font-size: 16rem;
    position: absolute;
    top: 80%;
    right: 20%;
}
#icon-floating-div-up i:nth-child(5){
    color: rgb(103, 103, 255);
    font-size: 10rem;
    position: absolute;
    top: 30%;
    right: 10%;
}
#icon-floating-div-up i:nth-child(6){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    right: 30%;
}
#icon-floating-div-up i:nth-child(7){
    color: pink;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 30%;
}
#icon-floating-div-up i:nth-child(8){
    color: rgb(154, 154, 154);
    font-size: 6rem;
    position: absolute;
    top: 35%;
    left: 40%;
}


#icon-floating-div-down i:nth-child(1){
    color: rgb(195, 233, 79);
    font-size: 3rem;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

#icon-floating-div-down i:nth-child(2){
    color: rgba(233, 79, 79, 0.905);
    font-size: 8rem;
    position: absolute;
    top: 40%;
    left: -6%;
}

#icon-floating-div-down i:nth-child(3){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 4%;
    left: 10%;
}

#icon-floating-div-down i:nth-child(4){
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
}

#icon-floating-div-down i:nth-child(5){
    color: grey;
    font-size: 4rem;
    position: absolute;
    top: 70%;
    left: 30%;
}
#icon-floating-div-down i:nth-child(6){
    color: grey;
    font-size: 4rem;
    position: absolute;
    bottom:0%;
    right: 5%;
}


#page2 i{
    color: aqua;
    font-size: 20rem;
}


/* page 2 */

#projects{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    z-index: 10;
    padding: 30px;
}

#projects h1{
    color: white;
    font-size: 7vh;
    margin-bottom: 60px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 5px;
}
#cards #card{
    height: 300px;
    width: 550px;
    /* background-color: red; */
    border-radius: 10px;
    transition: all 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 30px;
    box-shadow: 5px 10px 20px #888888;
    gap: 45px;
}

#cards #card:hover{
    transform: translateY(-10px);
}


#card p{
    color: white;
    font-size: 3vh;
    font-weight: 100;
}

#card h3{
    color: #fff;
    font-size: 7vh;
    font-weight: 700;
}


#cards a{
    text-decoration: none;
}










/* wave  */
#footer{

    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: red; */
}
  
#details{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 90px;
}
#details h2{
    color: #fff;
    font-size: 7vw;
    letter-spacing: -.4vw;
}

#details #connect-icon{
    color: red;
    font-size: 5vw;
    letter-spacing: -.4vw;
}


#bottomDetails{
    width: 100%;
    height: 30%;
    background-color: red;
    display: flex;
    flex-direction: column;
    
}


.ocean {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #989898;
    opacity: 0.5;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
    position: absolute;
    bottom: -10px;
    width: 6400px;
    height: 198px;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
    
}
  
  
  
@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}



